.info {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.title-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
}
.date {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 20px;
  margin-right: 30px;
}
.description {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 20px;
}
.line {
  color: #616e7c;
  width: 100%;
  margin-bottom: 15px;
}
